/*
  1. Use a more-intuitive box-sizing model.
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/*
    3. Set core body defaults and allow percentage-based heights in the application
//   */
html,
body {
  height: 100%;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

.container {
  width: 100%;
}
@media (min-width: 48rem) {
  .container {
    width: 46.875rem;
    margin: 0 auto;
  }
}
@media (min-width: 62rem) {
  .container {
    width: 60.625rem;
  }
}
@media (min-width: 75rem) {
  .container {
    width: 73.125rem;
  }
}
@media (min-width: 95.625rem) {
  .container {
    width: 93.75rem;
  }
}

.contacto, .preguntas, .servicios, .acercade {
  padding: 5rem 0rem;
}

.title {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 1.875rem;
  font-size: 2.5em;
  position: relative;
}
.title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #fff;
  height: 0.25rem;
  width: 6.25rem;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: "Poppins", sans-serif;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4 {
  font-family: "Oswald", sans-serif;
}

.backgrounds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.backgrounds__item picture img {
  object-fit: cover;
  margin: 0 auto;
  height: 120vh;
}

.header {
  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: color-burn;
}
.header .container {
  display: grid;
  grid-template-columns: 4fr 2fr 4fr;
  align-items: center;
  padding: 1.25rem 0rem;
}
.header__social .social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.625rem;
}
.header__social .social-media a {
  display: inline-block;
  font-size: 1.25em;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 50px;
  text-align: center;
  color: #fff;
  transition: 0.3s;
}
.header__social .social-media a.facebook {
  background-color: #4267b2;
}
.header__social .social-media a.instagram {
  background-color: #bb018c;
}
.header__social .social-media a.whatsapp {
  background-color: #0cb11a;
}
.header__social .social-media a:hover {
  background-color: #800000;
}
.header__logo img {
  max-width: 8.75em;
  height: auto;
  margin-inline: auto;
}
.header__info {
  text-align: center;
}
.header__info .contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__info .contact-info a {
  text-decoration: none;
  color: #800000;
  transition: 0.3s;
}
.header__info .contact-info a:hover {
  color: #ff6600;
}
.header__info .contact-info a:hover .fa {
  color: #ff6600;
}
.header__info .contact-info a .fa {
  transition: 0.3s;
  margin-right: 0.625rem;
  color: #c00000;
}
.header__info .contact-info .phone {
  font-weight: 700;
  font-size: 1.25em;
}
.header__info .contact-info .email {
  font-size: 1.125em;
}
.header .navbar {
  padding: 0rem 0.9375rem;
  background-color: #800000;
}
.header .navbar .nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.header .navbar .nav__item {
  flex-grow: 1;
}
.header .navbar .nav__link {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 1.125em;
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 1.25rem 1.25rem;
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}
.header .navbar .nav__link:hover {
  background-color: #ff6600;
}
.header .navbar__hamburger {
  display: none;
  cursor: pointer;
}
.header .navbar__hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0;
  transition: all 0.3s ease;
  background-color: #ff6600;
}

.bienvenida {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 12.5em 0em 15.625em 0em;
  text-align: center;
  color: #fff;
  position: relative;
}
.bienvenida h1 {
  text-shadow: 2px 2px 6px #000;
  font-size: 5em;
  margin-bottom: 1.875rem;
  text-transform: uppercase;
  padding: 0rem 0.9375rem 0.9375rem 0.9375rem;
  position: relative;
}
.bienvenida h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 12.5rem;
  height: 0.25rem;
  background-color: #fff;
}
.bienvenida h3 {
  text-shadow: 2px 2px 3px #000;
  font-size: 2.5em;
  font-weight: 400;
}
.bienvenida::before {
  content: "";
  background-image: url(../images/section-divider.svg);
  background-position: 50% 100%;
  background-size: 100% 3.125rem;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -0.3125rem;
  left: 0;
  right: 0;
  width: 100%;
  height: 3.125rem;
  z-index: 10;
}

.acercade {
  padding-bottom: 0rem;
  background-color: #fff;
  text-align: center;
}
.acercade .title {
  color: #800000;
}
.acercade .title::after {
  background-color: #ff6600;
}
.acercade p {
  font-size: 1.125em;
  padding-bottom: 0.9375em;
  width: 70%;
  margin-inline: auto;
}

.servicios {
  padding-bottom: 0rem;
  background-color: #fff;
  text-align: center;
}
.servicios .title {
  color: #800000;
}
.servicios .title::after {
  background-color: #ff6600;
}
.servicios__list {
  margin-top: 0.9375rem;
}
.servicios__item {
  position: relative;
  overflow: hidden;
}
.servicios__item picture img {
  transition: 0.3s;
}
.servicios__item:hover picture img {
  transform: scale(1.1);
}
.servicios__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1.875rem;
  background-color: rgba(128, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: 0.3s;
}
.servicios__content h3 {
  text-transform: uppercase;
  margin-bottom: 0.9375rem;
  color: #ffc000;
  transition: 0.3s;
  font-size: 1.875em;
}
.servicios__content p {
  font-size: 1.125em;
  color: #fff;
  transition: 0.3s;
}
.servicios__content:hover {
  background-color: rgba(255, 102, 0, 0.7);
}
.servicios__content:hover h3 {
  color: #fff;
}

.mision {
  background-color: rgba(255, 102, 0, 0.1);
}
.mision .title {
  text-align: left;
  color: #ff6600;
}
.mision .title::after {
  margin-left: 0;
  background-color: #800000;
}
.mision__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "mision         mision-img" "vision-img     vision";
  align-items: center;
  text-align: left;
}
.mision__item--text {
  padding: 0rem 5rem;
}
.mision__item p, .mision__item--text p {
  padding-bottom: 0.9375rem;
  font-size: 1.125em;
}
.mision__item:nth-of-type(1), .mision__item--text:nth-of-type(1) {
  grid-area: mision;
}
.mision__item:nth-of-type(2), .mision__item--text:nth-of-type(2) {
  grid-area: mision-img;
}
.mision__item:nth-of-type(3), .mision__item--text:nth-of-type(3) {
  grid-area: vision-img;
}
.mision__item:nth-of-type(4), .mision__item--text:nth-of-type(4) {
  grid-area: vision;
}
.mision__item picture img, .mision__item--text picture img {
  width: 100%;
  height: 31.25rem;
  object-fit: cover;
}

.preguntas {
  background-image: url(../images/img-preguntas.jpg);
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: color;
  color: #fff;
  text-align: center;
}
.preguntas .title::after {
  background-color: #ffc000;
}
.preguntas__content {
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.25em;
}
.preguntas__item h3 {
  color: #ffc000;
  font-size: 1.75em;
  padding-bottom: 1.25rem;
}
.preguntas__item h3:not(:first-child) {
  padding-top: 1.25rem;
}
.preguntas__item p {
  font-size: 1.125em;
}

.contacto {
  background-image: url(../images/bg-contacto.png);
  background-color: #ff6600;
  background-position: center;
  color: #fff;
  text-align: center;
  position: relative;
}
.contacto a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}
.contacto a:hover {
  color: #800000;
}
.contacto__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: min(60.625rem, 100%);
  margin: 0 auto;
}
.contacto__item .icon {
  background-color: #fff;
  width: 7.5rem;
  height: 7.5rem;
  line-height: 7.5rem;
  border-radius: 50%;
  text-align: center;
  font-size: 1.875em;
  margin: 0 auto;
}
.contacto__item .icon .fa {
  color: #800000;
  width: 3.75rem;
  height: 3.75rem;
  line-height: 3.75rem;
  border-radius: 50%;
  background-color: rgba(128, 0, 0, 0.1);
}
.contacto__item h3 {
  text-transform: uppercase;
  margin: 1.25rem 0rem;
  font-weight: 600;
  font-size: 1.25em;
}
.contacto__item p {
  font-size: 1em;
}
.contacto__item p span {
  display: block;
}
.contacto::before {
  content: "";
  background-image: url(../images/section-divider.svg);
  background-position: 50% 100%;
  background-size: 100% 3.125rem;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -0.3125rem;
  left: 0;
  right: 0;
  width: 100%;
  height: 3.125rem;
  z-index: 10;
}

.mapa iframe {
  width: 100%;
  height: 31.25rem;
}

.footer {
  background-color: #fff;
}
.footer__content {
  padding: 1.25rem 0.9375rem 1.25rem 0.9375rem;
}
.footer__content .container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.footer__logo img {
  max-width: 7.5rem;
  height: auto;
}
.footer__social {
  align-self: center;
}
.footer__social .social-media {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 0.625em;
}
.footer__social .social-media a {
  display: inline-block;
  font-size: 1.25em;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 50px;
  text-align: center;
  color: #fff;
  transition: 0.3s;
}
.footer__social .social-media a.facebook {
  background-color: #4267b2;
}
.footer__social .social-media a.instagram {
  background-color: #bb018c;
}
.footer__social .social-media a.whatsapp {
  background-color: #0cb11a;
}
.footer__social .social-media a:hover {
  background-color: #800000;
}
.footer__copyright {
  background-color: #800000;
  padding: 1.25rem 0rem;
  color: #fff;
  text-align: center;
  font-size: 0.875em;
}

@media (max-width: 95.62375em) {
  .backgrounds__item picture img {
    height: 120vh;
  }
  .bienvenida {
    font-size: 12px;
  }
  .servicios {
    font-size: 14px;
  }
  .mision {
    font-size: 12px;
  }
  .mision__item picture img, .mision__item--text picture img {
    height: 25rem;
  }
}
@media (max-width: 74.99875em) {
  .bienvenida {
    font-size: 10px;
  }
  .servicios {
    font-size: 12px;
  }
  .mision {
    font-size: 16px;
  }
  .mision__content {
    grid-template-columns: 1fr;
    grid-template-rows: 4fr;
    grid-template-areas: "mision" "mision-img" "vision" "vision-img";
  }
  .mision__item--text {
    padding: 2.5em;
  }
}
@media (max-width: 61.99875em) {
  .header {
    font-size: 12px;
  }
  .header .navbar {
    font-size: 10px;
  }
}
@media (max-width: 47.99875em) {
  .container {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }
  .header {
    background-color: rgba(255, 255, 255, 0.4);
    padding-top: 3.4375rem;
    font-size: 10px;
  }
  .header__info .contact-info {
    font-size: 20px;
    flex-direction: row;
    justify-content: space-around;
  }
  .header__info .contact-info .phone span, .header__info .contact-info .email span {
    display: none;
  }
  .header .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    font-size: 16px;
    text-align: right;
  }
  .header .navbar .nav {
    position: fixed;
    z-index: 100;
    gap: 0;
    flex-direction: column;
    background-color: #800000;
    width: 100%;
    text-align: center;
    transition: all 0.3s ease;
  }
  .header .navbar .nav.top-to-bottom {
    top: -100%;
    left: 0;
    right: 0;
  }
  .header .navbar .nav.top-to-bottom.active {
    top: 3.4375rem;
  }
  .header .navbar .nav.left-to-right {
    left: -100%;
    top: 3.4375rem;
  }
  .header .navbar .nav.left-to-right.active {
    left: 0px;
  }
  .header .navbar__hamburger {
    display: inline-block;
    padding: 0.625rem;
  }
  .header .navbar__hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .header .navbar__hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .header .navbar__hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .bienvenida {
    font-size: 8px;
  }
  .servicios {
    font-size: 14px;
  }
  .mision__item picture img, .mision__item--text picture img {
    height: 16.25rem;
  }
  .preguntas__content {
    grid-template-columns: 1fr;
  }
  .contacto__content {
    grid-template-columns: 1fr 1fr;
  }
  .footer .container {
    grid-template-columns: 1fr;
  }
  .footer__logo img {
    margin: 0 auto;
  }
  .footer__social .social-media {
    margin-top: 1.25em;
    justify-content: center;
  }
}
